# Probably Interesting Data

In [1]:
import pandas as pd
import numpy as np
import warnings
from IPython.display import Image
from IPython.core.display import HTML 
warnings.filterwarnings('ignore')

## Importing data

In [2]:
# Loading the data into pandas dataframe

data_url = "https://raw.githubusercontent.com/nishil70/ML-Probably-Interesting-Data/master/data/indian_liver_patient.csv?token=Aih7BxmfhNC2dttnuokBVEuJ8bJopRelks5cczBTwA%3D%3D"
df = pd.read_csv(data_url)

## Data Exploration using pandas and Google Facets

In [3]:
df.shape

(583, 11)

In [4]:
df.dtypes

Age                             int64
Gender                         object
Total_Bilirubin               float64
Direct_Bilirubin              float64
Alkaline_Phosphotase            int64
Alamine_Aminotransferase        int64
Aspartate_Aminotransferase      int64
Total_Protiens                float64
Albumin                       float64
Albumin_and_Globulin_Ratio    float64
Dataset                         int64
dtype: object

In [5]:
df.describe()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,579.000000,583.000000
mean,44.746141,3.298799,1.486106,290.576329,80.713551,109.910806,6.483190,3.141852,0.947064,1.286449
std,16.189833,6.209522,2.808498,242.937989,182.620356,288.918529,1.085451,0.795519,0.319592,0.452490
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.800000,0.200000,175.500000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,0.930000,1.000000
75%,58.000000,2.600000,1.300000,298.000000,60.500000,87.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [6]:
Images = ["https://raw.githubusercontent.com/nishil70/ML-Probably-Interesting-Data/master/distributions/Age.PNG?token=Aih7B7TZbRCg7_0NIXnmESFte-oyFBrfks5cczsuwA%3D%3D", "https://raw.githubusercontent.com/nishil70/ML-Probably-Interesting-Data/master/distributions/Albumin.PNG?token=Aih7B7Dfz8NCeJ0qLxmF1K_x7yya1Ao4ks5ccznAwA%3D%3D", "https://raw.githubusercontent.com/nishil70/ML-Probably-Interesting-Data/master/distributions/Total_Protiens.PNG?token=Aih7B14Oa-zgKjKoQAIBjK0AKnvBhvkVks5ccznSwA%3D%3D"]
for x in Images:
    display(Image(url= x))#, width=300, height=300))

## Data Preparation

In [7]:
# Dropping rows with null date values 

df = df.dropna()

In [8]:
df.shape

(579, 11)